In [61]:
import pandas as pd
import uuid

In [62]:
dfs = []
for i in range(2014,2024):
    dfs.append(pd.read_csv("src/acestor/tmpdir/" + str(i) + ".csv"))

df = pd.concat(dfs, ignore_index=True)

In [63]:
df = df[df["ulb_code"].isnull()].reset_index(drop=True)

In [64]:
df['metadata.ID'] = [uuid.uuid4() for _ in range(len(df.index))]

In [65]:
df.columns

Index(['type', 'dashboard_date', 'initial_symptom_date',
       'sample_collection_date', 'result_date', 'state_code', 'district_code',
       'subdistrict_code', 'ulb_code', 'village_code', 'zone_name',
       'ward_number', 'phc', 'subcenter', 'lat', 'lng', 'age', 'gender',
       'test_method', 'case_type', 'district_name', 'subdistrict_name',
       'village_name', 'year', 'metadata.ID'],
      dtype='object')

In [66]:
todrop = ["type", "ulb_code","zone_name",'lat','lng','case_type','year','ward_number']

In [67]:
columns = ["type", "metadata.primaryDate", "event.symptomOnset.date", 
           "event.test.sampleCollectionDate","event.test.resultDate", "location.admin1.ID", "location.admin2.ID",
           "location.admin3.ID", "ulb_code","location.admin4.ID","zone_name",
           "ward_number", "location.healthcenter.PHC", "location.healthcenter.subcenter", "lat","lng", "demographics.age", "demographics.gender",
           "event.test.type","case_type","location.admin2.name","location.admin3.name","location.admin4.name","year", "metadata.ID"
]

In [68]:
df.columns = columns
df.drop(todrop, axis = "columns", inplace = True)

In [69]:
dfprime = df.copy()
#df.rename({"metadata.date": "metadata.primaryDate"}, axis = "columns", inplace=True)

In [71]:
df

,metadata.date,event.symptomOnset.date,event.test.sampleCollectionDate,event.test.resultDate,location.admin1.ID,location.admin2.ID,location.admin3.ID,location.admin4.ID,location.healthcenter.PHC,location.healthcenter.subcenter,demographics.age,demographics.gender,event.test.type,location.admin2.name,location.admin3.name,location.admin4.name,metadata.ID
0,NaN,NaN,NaN,NaN,29,534.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DAKSHINA KANNADA,NaN,NaN,e042782c-7420-4c8e-92f8-98b3724680cc
1,2014-01-08,NaN,2014-01-08,2014-01-16,29,534.0,NaN,NaN,K. Bengare,NaN,10.0,MALE,NaN,DAKSHINA KANNADA,NaN,NaN,2d04ea5b-6bbf-4bb3-89d4-52f7e64c9948
2,2014-01-09,NaN,2014-01-09,2014-01-16,29,534.0,NaN,NaN,MCC,NaN,25.0,MALE,NaN,DAKSHINA KANNADA,NaN,NaN,ceea1d18-3104-4fa0-bb3e-86f7743e133c
3,2014-01-25,NaN,2014-01-25,2014-01-29,29,534.0,NaN,NaN,NaN,NaN,35.0,FEMALE,NaN,DAKSHINA KANNADA,NaN,NaN,c24978d0-dd47-46a6-b064-c15cee091910
4,2014-02-06,NaN,2014-02-06,2014-02-07,29,534.0,NaN,NaN,NaN,NaN,50.0,MALE,NaN,DAKSHINA KANNADA,NaN,NaN,85038d21-05f7-4093-94df-cf5275acc9c7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53709,2023-08-14,2023-08-09,2023-08-14,2023-08-17,29,544.0,5550.0,614419.0,Goravale,Goravale,24.0,FEMALE,NaN,MANDYA,MANDYA,B.HOSAHALLI,9c31816a-feab-41b8-970d-8e2eab155dfb
53710,2023-08-16,2023-08-09,2023-08-16,2023-08-17,29,544.0,5552.0,614684.0,Kalkuni,Kalkuni,13.0,MALE,NaN,MANDYA,MALAVALLI,KALKUNI,f09fa9e0-1cc4-4e7f-b7f8-b11e9a423ba7
53711,2023-08-16,2023-08-11,2023-08-16,2023-08-17,29,544.0,5552.0,614772.0,D K Halli,H Basapura,9.0,MALE,NaN,MANDYA,MALAVALLI,HAGADUR,b209d654-c266-4305-8fda-ca197822ca75
53712,2023-08-17,2023-08-12,2023-08-17,2023-08-18,29,544.0,5552.0,614719.0,Huskur,Huskur,33.0,FEMALE,NaN,MANDYA,MALAVALLI,HUSKUR,1fb9f501-2ae4-476e-9aea-ed1d3eaaf150
53713,2023-08-18,2023-08-13,2023-08-18,2023-08-18,29,544.0,5552.0,614796.0,D B Halli,Ravani,75.0,MALE,NaN,MANDYA,MALAVALLI,KYATHANAHALLI,45ea84f1-abe6-4761-9016-7a4676d9f807

In [73]:
df["location.country.ID"] = "country_IN"
df["location.country.name"] = "INDIA"

df["location.admin.hierarchy"] = "revenue"

df["location.admin1.ID"] = df["location.admin1.ID"].fillna(-1).astype(int)
df["location.admin1.ID"] = "state_" + df["location.admin1.ID"].astype(str)
df["location.admin1.name"] = "KARNATAKA"

df["location.admin2.ID"] = df["location.admin2.ID"].fillna(-1).astype(int)
df["location.admin2.ID"] = "district_" + df["location.admin2.ID"].astype(str)

df["location.admin3.ID"] = df["location.admin3.ID"].fillna(-1).astype(int)
df["location.admin3.ID"] = "subdistrict_" + df["location.admin3.ID"].astype(str)

df["location.admin4.ID"] = df["location.admin4.ID"].fillna(-1).astype(int)
df["location.admin4.ID"] = "village_" + df["location.admin4.ID"].astype(str)

event.test.type
IgM ELISA    23061
NaN          19986
NS1 ELISA    10667
Name: count, dtype: int64

In [82]:
df["metadata.primaryDate"] = pd.to_datetime(df["metadata.primaryDate"])

df["event.symptomOnset"] = True
df["event.symptomOnset.date"] = pd.to_datetime(df["event.symptomOnset.date"])

df["event.test"] = True
df["event.test.sampleCollectionDate"] = pd.to_datetime(df["event.test.sampleCollectionDate"])
df["event.test.type"] = df["event.test.type"].replace("IgM", "IgM ELISA").replace("NS1", "NS1 Ag ELISA").fillna("Unknown")
df["event.test.resultDate"] = pd.to_datetime(df["event.test.resultDate"])
df["event.test.result"] = True

In [85]:
final_cols = ["metadata.ID","metadata.primaryDate",
              
              "demographics.age", "demographics.gender",

              "location.country.ID", "location.country.name",
                "location.admin.hierarchy",
              "location.admin1.ID", "location.admin1.name", 
              "location.admin2.ID", "location.admin2.name",
              "location.admin3.ID", "location.admin3.name", 
              "location.admin4.ID", "location.admin4.name",
              "location.healthcenter.PHC", "location.healthcenter.subcenter",

              "event.symptomOnset", "event.symptomOnset.date",

              "event.test", "event.test.sampleCollectionDate",
              "event.test.type", "event.test.resultDate","event.test.result"
              ]

In [89]:
df = df[final_cols]

In [90]:
df.to_csv("karnataka_linelist.csv", index=False)

In [88]:
df

,metadata.primaryDate,event.symptomOnset.date,event.test.sampleCollectionDate,event.test.resultDate,location.admin1.ID,location.admin2.ID,location.admin3.ID,location.admin4.ID,location.healthcenter.PHC,location.healthcenter.subcenter,...,location.admin3.name,location.admin4.name,metadata.ID,location.country.ID,location.country.name,location.admin.hierarchy,location.admin1.name,event.symptomOnset,event.test,event.test.result
0,NaT,NaT,NaT,NaT,state_29,district_534,subdistrict_-1,village_-1,NaN,NaN,...,NaN,NaN,e042782c-7420-4c8e-92f8-98b3724680cc,country_IN,INDIA,revenue,KARNATAKA,True,True,True
1,2014-01-08,NaT,2014-01-08,2014-01-16,state_29,district_534,subdistrict_-1,village_-1,K. Bengare,NaN,...,NaN,NaN,2d04ea5b-6bbf-4bb3-89d4-52f7e64c9948,country_IN,INDIA,revenue,KARNATAKA,True,True,True
2,2014-01-09,NaT,2014-01-09,2014-01-16,state_29,district_534,subdistrict_-1,village_-1,MCC,NaN,...,NaN,NaN,ceea1d18-3104-4fa0-bb3e-86f7743e133c,country_IN,INDIA,revenue,KARNATAKA,True,True,True
3,2014-01-25,NaT,2014-01-25,2014-01-29,state_29,district_534,subdistrict_-1,village_-1,NaN,NaN,...,NaN,NaN,c24978d0-dd47-46a6-b064-c15cee091910,country_IN,INDIA,revenue,KARNATAKA,True,True,True
4,2014-02-06,NaT,2014-02-06,2014-02-07,state_29,district_534,subdistrict_-1,village_-1,NaN,NaN,...,NaN,NaN,85038d21-05f7-4093-94df-cf5275acc9c7,country_IN,INDIA,revenue,KARNATAKA,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53709,2023-08-14,2023-08-09,2023-08-14,2023-08-17,state_29,district_544,subdistrict_5550,village_614419,Goravale,Goravale,...,MANDYA,B.HOSAHALLI,9c31816a-feab-41b8-970d-8e2eab155dfb,country_IN,INDIA,revenue,KARNATAKA,True,True,True
53710,2023-08-16,2023-08-09,2023-08-16,2023-08-17,state_29,district_544,subdistrict_5552,village_614684,Kalkuni,Kalkuni,...,MALAVALLI,KALKUNI,f09fa9e0-1cc4-4e7f-b7f8-b11e9a423ba7,country_IN,INDIA,revenue,KARNATAKA,True,True,True
53711,2023-08-16,2023-08-11,2023-08-16,2023-08-17,state_29,district_544,subdistrict_5552,village_614772,D K Halli,H Basapura,...,MALAVALLI,HAGADUR,b209d654-c266-4305-8fda-ca197822ca75,country_IN,INDIA,revenue,KARNATAKA,True,True,True
53712,2023-08-17,2023-08-12,2023-08-17,2023-08-18,state_29,district_544,subdistrict_5552,village_614719,Huskur,Huskur,...,MALAVALLI,HUSKUR,1fb9f501-2ae4-476e-9aea-ed1d3eaaf150,country_IN,INDIA,revenue,KARNATAKA,True,True,True
53713,2023-08-18,2023-08-13,2023-08-18,2023-08-18,state_29,district_544,subdistrict_5552,village_614796,D B Halli,Ravani,...,MALAVALLI,KYATHANAHALLI,45ea84f1-abe6-4761-9016-7a4676d9f807,country_IN,INDIA,revenue,KARNATAKA,True,True,True